<div class="container">
    <div class="main-card">
        <hr style="border: 0,1px solid black; width: 100%">
        <h2>Welcome</h2>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a class="button" routerLink="/navigator?tab=0">See transactions</a>
        <hr style="border: 0,1px solid black; width: 100%">
        <p>You have {{data.length}} transactions</p>
    </div>
    <div class="cards-container">
        <app-card *ngFor = "let iterCard of cards; let inx = index"
        [card]="iterCard"
        [routerLink]="[routerLinkVariable + inx]"
        ></app-card>
    </div>
</div>